[Unit]
Description="Manager for devices and configurations"

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/VideoManager/
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=DISPLAY=:0.0
ExecStart=/home/pi/VideoManager/assets/manager.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
